<!-- base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <title>{% block title %}Dashboard{% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/paw_logo.png' %}" alt="Paw Logo">
            </a>
        </div>
        <!-- Hamburger Icon for Mobile -->
        <div class="hamburger-menu" id="hamburger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-links" id="nav-links">
            <a href="{% url 'user-profile' %}" class="nav-button">Profile</a>
            <a href="{% url 'leaderboard' %}" class="nav-button">Leaderboard</a>
            <a href="{% url 'user-logout' %}" class="logout-button">Logout</a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Scripts -->
    <script>
        // Mobile menu toggle
        const hamburger = document.getElementById('hamburger-menu');
        const navLinks = document.getElementById('nav-links');

        hamburger.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    </script>
</body>
</html>
