{% load static %}
<!-- Author: Ameera Abdullah -->
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Napoleon's Adventure</title>
</head>
<body>
    <div class="landing-page">
        <div class="content">
            <div class="container">
                <div class="info">
                    <img src="{% static 'images/primary_logo.png' %}" alt="Game Logo" class="game-logo">
                    <div class="buttons">
                        <button onclick="window.location.href='{% url 'my-login' %}'">Login</button>
                        <button onclick="window.location.href='{% url 'register' %}'">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
