{% load static %}
<!-- Author: Juri Kushayi, Ameera Abdullah -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h2>Login</h2> 

            <!-- Display error messages -->
            {% if loginform.non_field_errors %}
                <div class="error-message">
                    {% for error in loginform.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form class="login-form" method="POST" autocomplete="off">
                {% csrf_token %}

                <input type="text" name="{{ loginform.username.name }}" placeholder="Username" required>
                {{ loginform.username.errors }}

                <input type="password" name="{{ loginform.password.name }}" placeholder="Password" required>
                {{ loginform.password.errors }}

                <button type="submit">Login</button>
                <p class="message">Forgot Password? <a href="{% url 'password_reset' %}">Reset Here</a></p>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
