{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Password Reset</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h2>Password Reset Successful</h2>
            <p>Your password has been successfully changed. You can now log in with your new password.</p>
            <a href="{% url 'my-login' %}">
                <button type="button">Log In</button>
            </a>
        </div>
    </div>
</body>
</html>
