{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Password Reset</title>
</head>
<body>
    <div class="form">
        <h2>Check Your Email</h2>
        <p>If an account exists with the email you entered, you will receive a password reset email shortly.</p>
        <p>
            <a href="{% url 'my-login' %}">
                <button type="button">Back to Login</button> <!-- Button for back to login -->
            </a>
        </p>
    </div> 
</body>
</html>
