<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.2.1/core.css">
    <script type="module" src="https://pyscript.net/releases/2024.2.1/core.js"></script>
    <title>Sort the Recycling</title>
</head>


<body>
    <h1>Sort the Recycling</h1>

    <div class="buttons">
        <button onclick="window.location.href='{% url 'str_game' %}'">Play Game</button>
    </div>

    <button py-click="calculate">Test button</button>
    <p id="output"></p>

    <py-script>
        from pyscript import display
        display("hi", target = "output")
        def calculate(i):
            result = 5 + 3
            display(result, target = "output")
    </py-script>
</body>
</html>