<!-- Author: Juri Khushayl -->
{% extends 'base.html' %} 

{% block title %}Profile{% endblock %}  
{% block content %}  
{% load widget_tweaks %}  
{% load static %}  

<!-- Page Specific Styling -->
{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
{% endblock %}  




<!-- A container for the user profile containing the profile image and their data (username, email) -->
<div class="user-profile"> 
    <header class="profile-header">
        <h1>{{ request.user.username }}</h1>
    </header>
    
    <!-- Profile image -->
    <div class="profile-content">
        <div class="profile-pic">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile image">      
        </div>

        <!-- User profile form -->
        <form method="POST">
            {% csrf_token %}
            <div class="profile-detail">
                <!-- User's username field with a pen button to update their username and error message for if the updated username already exists in the database -->
                <div class="field">
                    <label>Username:</label>
                    {% if u_form.username.errors %}
                        <span class="display-text" data-target="id_username" style="display: none;">
                            {{ u_form.username.value }}
                        </span>
                        {{ u_form.username|add_class:"error-input active-input" }}
                    {% else %}
                        <span class="display-text" data-target="id_username">
                            {{ u_form.username.value }}
                        </span>
                        {{ u_form.username|add_class:"hidden-input" }}
                    {% endif %}
                    <i class="fa fa-edit"></i>
                </div>
                
                {% if u_form.username.errors %}
                    <div class="error">
                        {% for error in u_form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <!-- User's email field with a pen button to update their email and error message for if the updated email already exists in the database -->
                <div class="field">
                    <label>Email:</label>
                    {% if u_form.email.errors %}
                        <span class="display-text" data-target="id_email" style="display: none;">
                            {{ u_form.email.value }}
                        </span>
                        {{ u_form.email|add_class:"error-input active-input" }}
                    {% else %}
                        <span class="display-text" data-target="id_email">
                            {{ u_form.email.value }}
                        </span>
                        {{ u_form.email|add_class:"hidden-input" }}
                    {% endif %}
                    <i class="fa fa-edit"></i>
                </div>

                {% if u_form.email.errors %}
                    <div class="error">
                        {% for error in u_form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <!-- Button to save changes to update their profile -->
                <div class="button">
                    <button type="submit" class="save-btn">Save Changes</button>
                    <!-- Link to user delete page -->
                    <a href="{% url 'delete-account' %}" class="delete delete-btn ">Delete account</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // JavaScript code to handle the pen button functionality
    $(document).ready(function () { 
        $('input:not(.active-input)').hide();
        // When the pen is clicked (hides the display text, shows, and focuses on the input for editing)
        $('.fa-edit').click(function () {
            var field = $(this).closest('.field');
            var span = field.find('.display-text');
            var input = $('#' + span.data('target'));
        
            span.hide();                         
            input.val(span.text())              
                 .removeClass('hidden-input')  
                 .addClass('active-input')      
                 .show()
                 .focus();                       
        });
        
        // When the input loses focus (it hides the input field and restores the display text)
        $('input').blur(function () {
            var input = $(this);
            var span = input.closest('.field').find('.display-text');
        
            input.removeClass('active-input')    
                 .addClass('hidden-input')       
                 .hide();                         
                 
            span.show();                        
        });
    });
</script>

{% endblock %}
