/* Start Global Rules */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', sans-serif; 
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; 
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Navbar Rules*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  padding-bottom: 3px;
  position: sticky; 
  top: 0;         
  width: 100%;
  z-index: 1000;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto; 
}

.navbar-nav .nav-item .nav-link {
  color: #fa8336 !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: rgb(173, 76, 24) !important;
}

.navbar-logo {
  height: 60px; 
  margin-left: 15px;
  margin-bottom: 5px;
  width: auto;  
}

@media (max-width: 767px) {
  .navbar-nav {
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin-top: 10px;
  }

  .navbar-nav .nav-item .nav-link {
      font-size: 18px; 
  }
}

/* Hamburger Menu Styles */
.navbar-toggler {
  border: none;
  background: none;
}

.navbar-toggler-icon {
  border-radius: 4px;
  padding: 5px;
}

.navbar .navbar-brand {
  color: #fa8336;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.navbar-nav .nav-item .nav-link.active {
  color: rgb(173, 76, 24) !important;
}


#sec-about,
#sec-how-it-works,
#sec-why-it-matters {
  scroll-margin-top: 80px; 
}


/* End Navbar Rules*/

/* Start Landing Page */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 84px); 
  text-align: center;
  box-sizing: border-box;
}


.landing-page .container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.landing-page .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center; /* Ensure it is centered */
  height: 100%; /* This ensures it fills the available space */
  padding: 0 20px;
}


.landing-page .info .game-logo {
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.landing-page .info .buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.landing-page .info .buttons a {
  display: inline-block;
  border: 0;
  border-radius: 10px;
  padding: 1em 2.5em; 
  cursor: pointer;
  color: white;
  background-color: #ee6b05;
  font-size: clamp(14px, 2vw, 18px); 
  text-align: center;
  transition: 0.3s ease;
}


@media (max-width: 767px) {
  .landing-page {
    height: calc(100vh - 84px);  
    padding: 0;
  }

  .landing-page .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .landing-page .info .buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

/* About Section */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  background-color: #233d4d;
  color: #fff;
}

.about-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  height: 10%;
  width: auto;
  max-width: 100%; 
  display: block;
}

/* Text Content Styling */
.about-content {
  flex: 1;
  text-align: left;
  max-width: 50%;
  padding-left: 40px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .about-section .container {
      flex-direction: column;
      text-align: center;
  }

  .about-content {
      max-width: 100%;
      padding-left: 0;
  }

  .about-image {
      margin-bottom: 20px;
  }
}


/* 'How it Works' Section */
.sec-how-it-works .container {
  max-width: 1200px;
}

.sec-how-it-works h2 {
  text-align: center;  
  font-size: 2rem;
  margin-bottom: 30px;
}

.card-wrapper {
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 250px;
  border: 8px solid #fa8336;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-front {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card-back {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transform: rotateY(180deg);
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.card-back p {
  font-size: 1rem;
  color: #233d4d;
  line-height: 1.5;
  margin-top: 10px;
}

 /* Mobile */
@media (max-width: 767px) {
  .sec-how-it-works .col-md-4 {
    flex: 1 1 50%; 
    margin-bottom: 20px; 
  }

  
  .card {
    height: 250px; 
  }


  .card-title {
    font-size: 1rem;
  }

  .card-back p {
    font-size: 0.9rem; 
  }
}

/* 'Whyit Matters' Section */
#sec-why-it-matters {
  background-color: #233d4d;
  color: #f6f4f3;
}

#sec-why-it-matters a {
  color: #a4c086; 
  text-decoration: none; 
}

#sec-why-it-matters a:hover {
  color: #8a9c66; 
  text-decoration: underline; 
}

#sec-why-it-matters ul li {
  margin-bottom: 15px; /* Adjust the value for desired space */
}
/* End Landing Page */
