asgiref==3.8.1
deprecation==2.1.0
Django==5.1.5
django-email-verification==0.3.3
django-widget-tweaks==1.5.0
packaging==24.2
pygame==2.6.1
PyJWT==2.10.1
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2024.2
validators==0.34.0
