@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* Global Styles For User Authentication Related Pages: Login, Register, All Password Reset Related Pages */
body {
    background: #f6f4f3;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px; 
}

.auth-page {
    width: 100%;
    max-width: 400px;  
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border: 10px solid var(--auth-theme-color); 
    border-radius: 15px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px; 
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: var(--auth-theme-color);
    width: 100%;
    border: 0;
    padding: 15px;
    margin-top: 5px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px; 
}

.form button:hover,
.form button:active,
.form button:focus {
    filter: brightness(90%);
}

/* Checkbox Container */
.checkbox-container {
    display: flex;
    align-items: center;  
    gap: 10px; 
    justify-content: center;  
}

/* Checkbox Input */
.checkbox-container input {
    margin-top: 0;  
    vertical-align: middle;  
    width: auto;  
    height: auto;  
}

.checkbox-container a {
    color: var(--auth-theme-color);
    text-decoration: none;
}

.checkbox-container a:hover {
    text-decoration: underline;
}

.checkbox-container label {
    white-space: nowrap;  
    font-size: 14px;  
    vertical-align: middle;  
    line-height: 1.2;  
    margin-top: -14px; 
}

/* Media query for mobile responsiveness */
@media (max-width: 767px) {
    .form button + .form button {
        margin-top: 15px;  
    }

    .form form button {
        margin-bottom: 15px; 
    }

    .checkbox-container {
        flex-direction: row;
        justify-content: center;  
    }
}



@media (min-width: 768px) {
    .form form button + button {
        margin-top: 15px; /* Adds space between buttons on desktop */
    }
}

/* Message styling */
.form .message {
    margin-top: 8px;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: var(--auth-theme-color);
    text-decoration: none;
}

.error-message p {
    color: red;
    margin: 0;
    font-size: 12px;
}

.description {
    color: #4a4a4a;
    font-size: 12px;
    display: none;
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: left;
}


