@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
    background-color:#9bc4e2;
}

.logout {
    width: 60%;
    height: 60%;
    margin: 40px auto;
    margin-top: 100px;
    padding: 30px;
    background-color: #e6eaed;
    border: 6px solid #f57c00; 
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    justify-content: center;
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center; 
}

.logout h3 {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px #ffd0a6;
    font-family: 'Pixelify Sans';
    color: rgb(212, 128, 10);
}

.logout hr {
    border:none;
    width: 750px;
    height: 5px;
    background-color:  #f57c00;
    border-radius: 10px;
    margin-bottom: 20px;
    
}


a.logout-btn {
    display: inline-block;      
    text-decoration: none;     
    font-size: 15px;                    
    text-align: center;         
    border-radius: 8px;        
    cursor: pointer;  
    padding: 1px 78px;            
  }


  a.link {
    background-color:  #f57c00; 
    color: white;            
  }
  
  a.link {
    background-color: #f57c00;
  }
