<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h2>Login</h2> 
            <form class="login-form" method="POST" autocomplete="off">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username" required />
                <input type="password" placeholder="Password" name="password" required />
                <button type="submit">Login</button>
                <p class="message">Forgot Password? <a href="{% url 'password_reset' %}">Reset Here</a></p>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery -->
</body>
</html>
