{% load static %}
<!-- Author: Surin Chai -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <style>
        :root {
          --auth-theme-color: #233d4d;
        }
      </style>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>Reset Successful</title>
</head>
<body>
    <div class="auth-page">
        <div class="form">
            <h2>Password Reset Successful</h2>
            <p>Your password has been successfully changed. You can now log in with your new password.</p>
            <a href="{% url 'my-login' %}">
                <button type="button">Log In</button>
            </a>
        </div>
    </div>
</body>
</html>
