{% load static %}
<!--Author: Rami Youhana-->
<!--Styling: Juri Khushayk-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.2.1/core.css">
    <script type="module" src="https://pyscript.net/releases/2024.2.1/core.js"></script>
    <title>Recycle Rush</title>

</head>
<body>
    <div class="game-card">
        <h1>Recycle Rush </h1>
        <p class="game-description">In Recycle Rush, you control a recycling bin to catch falling waste items. Your goal is to sort the waste correctly by switching between the different bins using the on-screen buttons.</p>
        <h3>How to Play</h3>
        <ul>
            <li>Use the left (⬅) and right (➡) buttons to move the bin.</li>
            <li>Switch between bins using the on-screen selection buttons (Plastic, Battery, Can, Paper).</li>
            <li>Catch the correct waste in the matching bin to earn points.</li>
            <li>If you miss or catch the wrong item, you lose a life.</li>
            <li>The game speeds up as you score more points!</li>
        </ul>
        <div class="buttons">
            <form id="endGameForm" method="POST" action="{% url 'recycle_rush_game' %}">
                {% csrf_token %}
                <button type="submit" class="play-game">Play Game</button>
            </form>
        </div>
    </div>
</body>
</html>
