{% load static %}
<!--Author: Jem Challis-->
<!--Styling: Juri Khushayk-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.2.1/core.css">
    <link rel="stylesheet" href="{% static 'css/end.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <script type="module" src="https://pyscript.net/releases/2024.2.1/core.js"></script>
    <title>Sort the Recycling</title>
</head>


<body>
    <div class="game-card">
        <h1>Final Score</h1>
    
        <div id="output">
            <p>{{ score }}</p>
        </div>
        <span id="score" style="display: none;" >{{ score }}</span>
        <span id="target" style="display: none;" >{{ target }}</span>

        <div id="feedback"></div>
       
        <div class="buttons">
            <button onclick="window.location.href='{% url 'str_game' %}'" class="play-end">Play Again</button>
            <button onclick="window.location.href='{% url 'dashboard' %}'" class="game-end">Exit Game</button>
        </div>
    
    
        <py-script>
            from pyscript import display
            from js import document
    
            score = int(document.getElementById("score").textContent)
            target = int(document.getElementById("target").textContent)
    
            feedback_div = document.getElementById("feedback")  # Get the feedback div
    
            if score >= target:
                feedback_div.innerHTML = f"<p>You scored {score} points. You win!</p>"
                feedback_div.innerHTML += "<p>You have beaten the game, but feel free to keep playing for a new high score.</p>"
                feedback_div.innerHTML += "<p>Make sure to keep in mind the things you've learned here: recycling should be sorted, and rubbish should be separated.</p>"
            else:
                feedback_div.innerHTML = f"<p>You scored {score} points. You lose, try again.</p>"
                feedback_div.innerHTML += "<p>Don’t give up! Keep playing and improving with each move you make!</p>"
                feedback_div.innerHTML += "<p>Try completing the tasks in order to remove the rubbish.</p>"
                feedback_div.innerHTML += "<p>You get more points for T and L shapes (5) and 4 and 5 in rows (3).</p>"
        </py-script>
    </div>
    
</div>
</body>
</html>