{% load static %}
<!--Author: Jem Challis-->
<!--Styling: Juri Khushayl-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.2.1/core.css">
    <link rel="stylesheet" href="{% static 'css/str-game.css' %}">
    <link rel="icon" href="{% static 'core/static/images/favicon.ico' %}" type="image/x-icon">

    <script type="module" src="https://pyscript.net/releases/2024.2.1/core.js"></script>
    <title>Sort the Recycling</title>
</head>


<body>
<div class ="game-card">
    <h1>Sort the Recycling</h1>

    <div id="output"></div>
    <span id="score" style="display: none;" >{{ score }}</span>
    <span id="target" style="display: none;" >{{ target }}</span>

    <div class="buttons">
        <button onclick="window.location.href='{% url 'str_game' %}'" class="play-end">Replay Game</button>
        <button onclick="window.location.href='{% url 'dashboard' %}'" class="play-end">Exit Game</button>
    </div>

    <py-script>
        from pyscript import display
        from js import document

        score = int(document.getElementById("score").textContent)
        target = int(document.getElementById("target").textContent)

        if score >= target:
            display(f"You scored {score} points.  You win.", target = "output")
            display("You have beaten the game, but feel free to keep playing for a new high score.", target = "output")
            display("Make sure to keep in mind the things you've learned here: recycling should be sorted, and rubbish should be seperated.", target = "output")
        else:
            display(f"You scored {score} points. You lose, try again.", target = "output")
            display("Try completing the tasks in order to remove the rubbish.", target = "output")
            display("You get more points for T and L shapes (5) and 4 and 5 in a rows (3).", target = "output")
    </py-script>
</div>
</body>
</html>