{% load static %}
<!--Author: Ameera Abdullah-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.2.1/core.css">
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
    <link rel="icon" href="{% static 'core/static/images/favicon.ico' %}" type="image/x-icon">
    <script type="module" src="https://pyscript.net/releases/2024.2.1/core.js"></script>
    <title>Sort the Recycling</title>
</head>

<body>

<div class="game-card">
    <h1>Whack-A-Waste</h1>

    <h3>Welcome to Whack-A-Waste!</h3>

    <ul>
        <li>In this game, you manage food items to minimize waste by making quick decisions on how to handle each one.</li>
        <li>Food items appear at various stages of their shelf life, and you must decide what action to take before they spoil.</li>
        <li>As the game progresses, more food items appear, and the time to make decisions shortens, increasing the challenge.</li>
        <li>Make good decisions to earn rewards; make wasteful choices and face penalties.</li>
        <li>The game ends when you interact wrongly with a set number of food items.</li>
    </ul>
    
    <p>Good luck.</p>

    <div class="buttons">
        <form id="endGameForm" method="POST" action="{% url 'whack_a_waste_game' %}">
            {% csrf_token %}
            <button type="submit" class="play-game">Play Game</button>
        </form>
    </div>

</div>

</body>
</html>