@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
    background-color:#9bc4e2;
}

* {
    box-sizing: inherit; 
}

.delete-account {
    width: 60%;
    height: 60%;
    margin: 40px auto;
    margin-top: 100px;
    padding: 30px;
    background-color: #e6eaed;
    border: 6px solid #f57c00; 
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    justify-content: center;
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center; 
}

.delete-account h3 {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px #ffd0a6;
    font-family: 'Pixelify Sans';
    color: rgb(212, 128, 10);
}

.delete-account hr {
    border:none;
    width: 700px;
    height: 5px;
    background-color:  #f57c00;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.delete-account p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(212, 128, 10);
    font-style: oblique;
    text-shadow: #ffd0a6;
}

.delete-account input {
    width: 30%;
    height: 45%;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;

}

.btn {
    background-color: #e74c3c; 
   
}

.btn:hover {
    background-color: #c0392b;
}

a.back-link {
    display: inline-block;      
    text-decoration: none;     
    font-size: 15px;                    
    text-align: center;         
    border-radius: 8px;        
    cursor: pointer;  
    padding: 1px 40px;            
  }


  a.link {
    background-color:  #23c55c;  
    color: white;            
  }
  
  a.link {
    background-color: #3ad771;  
  }
